@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
      @apply dark:bg-gray-800 bg-white
  }
}

@keyframes fadeOutDown {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(20px);
  }
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.fade-in {
  animation: fadeInUp 0.5s forwards;
}

.fade-out {
  animation: fadeOutDown 0.5s forwards;
}
